In [7]:
import pandas as pd
import sqlite3 as sql

# Leitura dos dados .csv

In [8]:
adidos_auxiliares = pd.read_csv("bd-csv\\adidos-auxiliares.csv")
almoco_servido_EB_2017 = pd.read_csv("bd-csv\\almoco-servido-EB-2017.csv", sep=';', encoding='ANSI')
cafe_servido_EB_2017 = pd.read_csv("bd-csv\cafe-servido-EB-2017.csv", sep=';', encoding='ANSI')
cma = pd.read_csv("bd-csv\cma.csv")
jantar_servido_EB_2017 = pd.read_csv("bd-csv\\jantar-servido-EB-2017.csv", sep=';', encoding='ANSI')
jsm2020 = pd.read_csv("bd-csv\jsm2020.csv")
orgao2020 = pd.read_csv("bd-csv\orgao2020.csv")
psc2019 = pd.read_csv("bd-csv\psc2019.csv")
sermil2019 = pd.read_csv("bd-csv\sermil2019.csv")

# Criação de um BD SQL Lite

In [9]:
conn = sql.connect('exercito.db')

## Escrita dos dados no BD

In [10]:
adidos_auxiliares.to_sql('adidos_auxiliares', conn)
almoco_servido_EB_2017.to_sql('almoco_servido_EB_2017', conn)
cafe_servido_EB_2017.to_sql('cafe_servido_EB_2017', conn)
cma.to_sql('cma', conn)
jantar_servido_EB_2017.to_sql('jantar_servido_EB_2017', conn)
jsm2020.to_sql('jsm2020', conn)
orgao2020.to_sql('orgao2020', conn)
psc2019.to_sql('psc2019', conn)
sermil2019.to_sql('sermil2019', conn)

## Teste no BD criado

In [11]:
pd.read_sql('SELECT * FROM psc2019 p INNER JOIN cma c on p.cmd_mil_area = c.sigla', conn)

,index,CMD_MIL_AREA,UF,MUNICIPIO,ENTIDADE,CURSO,LOCAL,INICIO,TERMINO,CARGA_HORARIA,EFETIVO_INICIAL,EFETIVO_FINAL,VALOR_HORA_AULA,VALOR_TOTAL,index,DESCRICAO,SIGLA
0,0,CMA,AC,Rio Branco,SERVIÇO NACIONAL DE APRENDIZAGEM INDUSTRIAL,Pintor de Obras,4° BIS,01/10/19,01/11/19,160,20,20,"R$ 6,50","R$ 20.800,00",0,Comando Militar da Amazonia,CMA
1,1,CMNE,AL,Maceió,SENAI,MECÂNICO DE MOTORES CICLO OTTO,SENAI POÇO,08/07/19,30/08/19,160,2,2,"R$ 5,32","R$ 1.702,40",2,Comando Militar do Nordeste,CMNE
2,2,CMNE,AL,Maceió,SENAI,ELETRICISTA DE AUTOMOVEIS,SENAI TABULEIRO,05/08/19,27/09/19,160,2,2,"R$ 5,00","R$ 1.600,00",2,Comando Militar do Nordeste,CMNE
3,3,CMNE,AL,Maceió,SENAI,SOLDADOR ELETRODO/TIG/MAG,SENAI POÇO,29/07/19,20/09/19,160,2,2,"R$ 9,38","R$ 3.001,60",2,Comando Militar do Nordeste,CMNE
4,4,CMNE,AL,Maceió,SENAI,ASSISTENTE ADMINISTRATIVO,SENAI POÇO,30/09/19,22/11/19,160,10,10,"R$ 3,75","R$ 6.000,00",2,Comando Militar do Nordeste,CMNE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,470,CMP,TO,Palmas,Serviço Nacional de Aprendizagem Comercial,Boas Práticas de Higiene e Manipulação de Ali,SENAC,22/08/19,23/08/19,8,5,5,"R$ 5,32","R$ 212,80",6,Comando Militar do Planalto,CMP
471,471,CMP,TO,Palmas,Sest Senat,Condutores de veículos de transporte Coletivo,Sest Senat,00/00/0000,00/00/0000,50,6,6,"R$ 4,00","R$ 1.200,00",6,Comando Militar do Planalto,CMP
472,472,CMP,TO,Palmas,Instituto Federal do Tocantins,Instalador Hidraúlico,IFTO e 22BI,00/00/0000,00/00/0000,80,20,20,"R$ 1,50","R$ 2.400,00",6,Comando Militar do Planalto,CMP
473,473,CMP,TO,Palmas,Serviço Nacional de Aprendizagem Comercial,Salgadeiro,SENAC,01/08/19,25/09/19,160,2,2,"R$ 6,12","R$ 1.958,40",6,Comando Militar do Planalto,CMP
474,474,CMP,TO,Palmas,Sest Senat,Condutores de veículos de transporte de emerg,Sest Senat,00/00/0000,00/00/0000,15,2,2,"R$ 5,00","R$ 150,00",6,Comando Militar do Planalto,CMP

## Finalizando processo

In [12]:
conn.close()